
/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Border Politics Layout Method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/** body **/
  body
  {
  }

  #page
  {
  }

  #page-inner
  {
  }

  #navigation-top,
  #navigation
  {
    position: absolute; /* Take the named anchors out of the doc flow    */
    left: -10000px;     /* and prevent any anchor styles from appearing. */
  }

  #skip-to-nav
  {
    float: right;
    margin: 0 !important;
    font-size: 0.8em;
  }

  #skip-to-nav a:link, #skip-to-nav a:visited
  {
    color: #fff; /* Same as background color of page */
  }

  #skip-to-nav a:hover
  {
    color: #000;
    text-decoration: none;
  }

  /* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
     to the link. Un-comment the following CSS to use this technique. */
  /*
  #skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
  {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #skip-to-nav a:active, #skip-to-nav a:focus
  {
    position: static;
    width: auto;
    height: auto;
  }
  */

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title
  {
  }

  #logo
  {
    float: left;
  }

  #site-name
  {
  }

  #site-slogan
  {
  }

  #header-blocks
  {
    clear: both; /* Clear the logo */
  }

/** main (container for everything else) **/
  #main
  {
    position: relative;
  }

  #main-inner
  {
  }

/** content **/
  #content
  {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -100%; /* Negative value of #content's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
  }

  #content-inner,
  .no-sidebars #content-inner
  {
    margin: 0;
    padding: 0;
  }

  .sidebar-left #content-inner
  {
    padding-left: 250px; /* The width + left margin of #sidebar-left. */
    padding-right: 0;
  }

  .sidebar-right #content-inner
  {
    padding-left: 250px;  /* in this theme there will always be a left side due to logo placement - Aaron */
    padding-right: 250px; /* The width + right margin of #sidebar-right. */
  }

  .two-sidebars #content-inner
  {
    padding-left: 250px; /* The width + left margin of #sidebar-left. */
    padding-right: 250px; /* The width + right margin of #sidebar-right. */
  }

  #search-box
  {
    width: 230px;
    /*margin-right: -230px;*/ /* Negative value of #search-box's width. */
    float: left;
  }

  #primary
  {
    margin-left: 0px; /* Width of search-box */
  }

  #secondary
  {
    margin-left: 0px; /* Width of search-box */
  }

/** sidebar-left **/
  #sidebar-left
  {
    float: left;
    width: 230px;
    margin-left: 0;
    /*margin-right: -230px;*/ /* Negative value of #sidebar-left's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
  }

  #sidebar-left-inner
  {
    padding: 0;
  }

/** sidebar-right **/
  #sidebar-right
  {
    float: right;
    width: 230px;
    /*margin-left: -230px;*/ /* Negative value of #sidebar-right's width + right margin. */
    margin-right: 0;
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
  }

  #sidebar-right-inner
  {
    padding: 0;
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

/** closure **/
  #closure-blocks
  {
  }

/** Prevent overflowing content **/
  #header,
  #content,
  #sidebar-left,
  #sidebar-right,
  #footer,
  #closure-blocks
  {
    overflow: visible;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  /* If a div.clear-block doesn't have any content after it, Firefox and Safari
     will mistakenly place several pixels worth of space between the bottom of
     the div and the bottom of the viewport. This fixes it. */
  #page { overflow-y: hidden; } /* CSS3 property */
